div {
 display: block;
}
h2 {
 color:darkgray;
 font-family: 'Gruppo', cursive;
 font-size:56px;
}
.container {
	
}
.row {
}
.overview, .detail, .examples {
	float: left;
	width: 29%;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
@media screen and (max-width: 768px) {
	
 .overview, .detail, .examples {
	 float: left;
	 width: 99%;
 }
}